@import "./tailwind.css";

.cs-1 {
  grid-column: span 1 / span 1;
}

.cs-2 {
  grid-column: span 2 / span 2;
}

.cs-3 {
  grid-column: span 3 / span 3;
}

.cs-4 {
  grid-column: span 4 / span 4;
}

.cs-5 {
  grid-column: span 5 / span 5;
}

.cs-6 {
  grid-column: span 6 / span 6;
}

.cs-7 {
  grid-column: span 7 / span 7;
}

.cs-8 {
  grid-column: span 8 / span 8;
}

.cs-9 {
  grid-column: span 9 / span 9;
}

.cs-10 {
  grid-column: span 10 / span 10;
}

.cs-11 {
  grid-column: span 11 / span 11;
}

.cs-12 {
  grid-column: span 12 / span 12;
}

ul {
  list-style: none;
}

ul li::before {
  content: "\2022";
  color: red;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}
